h1, h2, h3 {
    margin: 0;
}

.panel {
    border-radius: 0.2rem;
    .header {
        padding: 0.5rem;
    }
    .panel-body {
        padding: 0.5rem;
    }
}

label {
    font-weight: normal;
}

body, #app-root {
    width: 100vw;
}

#app-root {
    overflow: auto;
	max-height: 100vh;
}
:root {
	// todo: use a scss preprocessor on svelte templates and make this a variable that's used in the media queries
	--mobile-collapse: 600px;
}
