doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/fontawesome-free/css/all.min.css")
        link(rel='icon', href='logo.png')
        link(href="//fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap", rel="stylesheet")
        style.
            h1, h2, h3, h4, h5, h6 {
                font-family: "Kanit", sans-serif;
            }
    body
        block content
