doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, user-scalable=0")
		link(rel="stylesheet", href="/fontawesome-free/css/all.min.css")
		link(rel='icon', href='logo.png')
		link(href="//fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap", rel="stylesheet")
		style.
			h1, h2, h3, h4, h5, h6 {
				font-family: "Kanit", sans-serif;
			}
		if !development
			each fileName in cssImports
				link(rel="stylesheet", href=`/${fileName}`)
	body
		block content
